{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1 class="mb-3">Feed</h1>

<div class="row mb-4">
  <div class="col-12">
    <form method="POST" id='tweet-create-form' action="/add-post/">
    {% csrf_token %}
        <div class="form-group">
        <input type="hidden" value="/" name="next" />
        <label for="exampleFormControlTextarea1">Got something new? Share it!</label>
        <textarea class="form-control" name="content" 
        placeholder="Type in your post" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Post</button>
    </form>
  </div>
</div>

<div class='row' id='tweets'>
    Loading...
</div>

<script>


function handleTweetCreateFormDidSumbit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        console.log(xhr.response)
        if (xhr.status === 201) {
            const newTweet = xhr.response
            const newTweetJson = JSON.parse(newTweet)
            const newTweetElement = formatTweetElement(newTweetJson)
            //interesting way to append new elements to the <html>
            const ogHtml = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML = newTweetElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            myForm.reset()

        } else if (xhr.status === 400) {
            alert("A server error occured, please try again later")
        } else if (xhr.status === 401) {
            alert("You must login to post")
        }
    }
    xhr.onerror = function(){
        alert("An error occured, please try again later")
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById("tweet-create-form")
tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSumbit)

const tweetsContainerElement = document.getElementById("tweets") 

function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/posts/"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response // array
        var finalTweetStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
}

loadTweets(tweetsContainerElement)


function handleDidLike (tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
    return 
}

function LikeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + 
    tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 animate__animated animate__backInLeft col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
    + "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
    return formattedTweet
}


</script>

{% endblock content %}